/* =========================
   GENERAL
========================= */
body{
    font-family:'Montserrat',sans-serif;
    background:#f6f6f0;
    margin:0;
    padding-top:80px;
}

/* =========================
   ABOUT SECTION
========================= */
.about-section{
    padding:80px 0;
}

.section-title{
    color:#bfa158;
    font-weight:500;
}

.icon-box{
    background:#f6f6f0;
    padding:30px;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
    text-align:center;
    height:100%;
}

.icon-box i{
    font-size:2.5rem;
    color:#bfa158;
    margin-bottom:10px;
}

.highlight {
    color: #bfa158;
    font-size: 17px;
}

/* =========================
   TEAM
========================= */
.team-card{
    background:#f6f6f0;
    padding:20px;
    border-radius:8px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.team-card img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:6px;

}